
### Eclipse ###
.settings/
.recommenders
.classpath
.project

### Build artifacts ###
target/

### IntelliJ ###
.idea/

### vscode setting directory ###
.vscode/

### macOS specific files ###
.DS_Store

### Others ###
design
